[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/code.cloudfoundry.org/archiver"]
	path = src/code.cloudfoundry.org/archiver
	url = https://github.com/cloudfoundry/archiver
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://github.com/golang/text
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "src/github.com/opencontainers/image-spec"]
	path = src/github.com/opencontainers/image-spec
	url = https://github.com/opencontainers/image-spec
[submodule "src/github.com/opencontainers/go-digest"]
	path = src/github.com/opencontainers/go-digest
	url = https://github.com/opencontainers/go-digest
[submodule "src/github.com/Microsoft/go-winio"]
	path = src/github.com/Microsoft/go-winio
	url = https://github.com/Microsoft/go-winio
[submodule "src/github.com/Microsoft/hcsshim"]
	path = src/github.com/Microsoft/hcsshim
	url = https://github.com/greenhouse-org/hcsshim
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "src/github.com/sirupsen/logrus"]
	path = src/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
